---
import { getCollection, getEntry } from 'astro:content';
import Layout from "../lib/components/layouts/Layout.astro";
import ProjectList from "../lib/components/content/projects/ProjectList.astro";
import BlogList from "../lib/components/content/blog/BlogList.astro";

const github = await getEntry('socials', 'github');
const linkedin = await getEntry('socials', 'linkedin');
const mail = await getEntry('socials', 'mail');
const computerScienceBachelor = await getEntry('education', 'computer-science-bachelor');
const kmdStudentWorker = await getEntry('work', 'kmd-student-worker');

const allProjects = await getCollection("projects", ({ data }) => {
    return data.draft !== true;
});

const allBlogs = await getCollection("blog", ({ data }) => {
    return data.draft !== true;
});
---

<Layout>
  <section>
    <p class="dark:text-gray mt-0 md:mt-2">
      I'm a software developer based in Odense, Denmark. I'm currently working
      at <a href={kmdStudentWorker.data.companyUrl}>{kmdStudentWorker.data.title}</a
      >, and taking a Bachelor's degree in computer science at <a
        href={computerScienceBachelor.data.url}
        >{computerScienceBachelor.data.title}</a
      >. You can checkout my <a href={github.data.url}
        >{github.data.title}</a
      >, contact me on <a href={linkedin.data.url}>{linkedin.data.title}</a
      >, <a
        href={mail.data.url}
        >send me an email</a
      >, or snoop around on this website.
    </p>
  </section>
  <section>
    <h2>Selected Projects</h2>
    <ProjectList projects={allProjects} />
  </section>
  <section>
    <h2>Blogs</h2>
    <BlogList blogs={allBlogs} />
  </section>
</Layout>
