---
import { getCollection } from 'astro:content';
import Layout from "../lib/components/layouts/Layout.astro";
import SOCIALS from "../lib/data/socials";
import STATUS from "../lib/data/status";

const allCases = await getCollection("cases", ({ data }) => {
    return data.draft !== true;
});
---

<Layout>
  <section>
    <h1>Karsten Pedersen</h1>
    <p>
      I'm a software developer based in Odense, Denmark. I'm currently working
      at <a href={STATUS.kmdStudentWorker.url}>{STATUS.kmdStudentWorker.name}</a
      >, and taking a Bachelor's degree in computer science at <a
        href={STATUS.computerScienceBachelor.url}
        >{STATUS.computerScienceBachelor.name}</a
      >. You can checkout my <a href={SOCIALS.github.url}
        >{SOCIALS.github.name}</a
      >, contact me on <a href={SOCIALS.linkedin.url}>{SOCIALS.linkedin.name}</a
      >, <a
        href="mailto:karstenfp.all@gmail.com?subject=Hey%20cool%20website%2C%20"
        >send me an email</a
      >, or snoop around on this website.
    </p>
  </section>
  <section>
    <h2>Cases</h2>
    <ul>
      {allCases.map(c => (
        <li>
          <a href=`/cases/${c.slug}`>{c.data.title}</a>
        </li>
      ))}
    </ul>
  </section>
</Layout>
